<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Assignment.Properties.Settings.myDbFarm" connectionString="Data Source=localhost;database=FarmData;Integrated Security=True" />
        <add name="Assignment.Properties.Settings.xlsCon" connectionString="Provider=Microsoft.ACE.OLEDB.12.0; Data Source= {0}; Extended Properties=Excel 12.0;" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
